groups:
  - name: contenedor_alerts
    rules:
      - alert: ContenedorCaido
        expr: |
          (
            podman_container_state != 2
          ) * on(id) group_left(name) podman_container_info
        for: 5s
        labels:
          severity: critical
        annotations:
          summary: "Caida: {{ '{{' }} $labels.name {{ '}}' }}"
          description: "El contenedor '{{ '{{' }} $labels.name {{ '}}' }}' no esta running (estado={{ '{{' }} $value {{ '}}' }})."

      - alert: ContenedorCrashLoop
        expr: |
          (
            changes(podman_container_state[2m]) > 3
          ) * on(id) group_left(name) podman_container_info
        for: 0s
        labels:
          severity: warning
        annotations:
          summary: "Crash loop: {{ '{{' }} $labels.name {{ '}}' }}"
          description: "El contenedor '{{ '{{' }} $labels.name {{ '}}' }}' cambio de estado {{ '{{' }} $value {{ '}}' }} veces en los ultimos 2 minutos."

