groups:
  - name: contenedor_alerts
    rules:
      - alert: ContenedorCaido
        expr: |
          absent_over_time(
            podman_container_info{name=~"{{ (apps | map(attribute='name') | list + managed_databases | map(attribute='name') | list) | join('|') }}"}[1m]
          )
        for: 15s
        labels:
          severity: critical
        annotations:
          summary: "Caida: {{ '{{' }} $labels.name {{ '}}' }}"
          description: "El contenedor '{{ '{{' }} $labels.name {{ '}}' }}' desaparecio del exporter."

      - alert: ContenedorEstadoMalo
        expr: |
          (
            podman_container_state{name!~"POD-.*|[0-9a-f]{12}"} != 2
          ) * on(id) group_left(name) podman_container_info
        for: 10s
        labels:
          severity: critical
        annotations:
          summary: "Caida: {{ '{{' }} $labels.name {{ '}}' }}"
          description: "El contenedor '{{ '{{' }} $labels.name {{ '}}' }}' no esta running (estado={{ '{{' }} $value {{ '}}' }})."

      - alert: ContenedorCrashLoop
        expr: |
          (
            changes(podman_container_state{name!~"POD-.*|[0-9a-f]{12}"}[2m]) > 3
          ) * on(id) group_left(name) podman_container_info
        for: 0s
        labels:
          severity: warning
        annotations:
          summary: "Crash loop: {{ '{{' }} $labels.name {{ '}}' }}"
          description: "El contenedor '{{ '{{' }} $labels.name {{ '}}' }}' cambio de estado {{ '{{' }} $value {{ '}}' }} veces en los ultimos 2 minutos."

      - alert: ExporterPodmanCaido
        expr: up{job="podman"} == 0
        for: 15s
        labels:
          severity: critical
        annotations:
          summary: "Podman exporter caido"
          description: "El exporter de Podman no responde. No hay visibilidad de contenedores."
