[Unit]
Description=Grafana
After=network-online.target

[Container]
Image=docker.io/grafana/grafana:{{ grafana_version }}
ContainerName=grafana
Network=proxy-net
Volume={{ monitoring_dir }}/grafana:/var/lib/grafana:z,U
Environment=GF_SECURITY_ADMIN_PASSWORD={{ grafana_admin_password }}
Label=traefik.enable=true
Label=traefik.http.routers.grafana.rule=Host(`{{ grafana_domain }}`)
Label=traefik.http.routers.grafana.entrypoints=websecure
Label=traefik.http.routers.grafana.tls.certresolver=letsencrypt
Label=traefik.http.services.grafana.loadbalancer.server.port=3000

[Install]
WantedBy=default.target
