[Unit]
Description=Node Exporter
After=network-online.target

[Container]
Image=docker.io/prom/node-exporter:{{ node_exporter_version }}
ContainerName=node-exporter
Network=monitoring-net
Volume=/:/host:ro,rslave
# We use host pid and network for accurate host metrics if needed, 
# but for rootless we might have restrictions.
# Standard node-exporter usually needs --path.rootfs=/host
Exec=--path.rootfs=/host

[Install]
WantedBy=default.target
