[Unit]
Description=Podman Exporter
After=network-online.target

[Container]
Image=quay.io/navidys/prometheus-podman-exporter:{{ podman_exporter_version }}
ContainerName=podman-exporter
User=0
Network=monitoring-net
Environment=CONTAINER_HOST=unix:///run/podman/podman.sock
# Añadimos --events para que el exportador siga mejor los cambios de estado
Exec=--events
Volume=/run/user/{{ deploy_user_info.uid }}/podman/podman.sock:/run/podman/podman.sock:rw,z

[Install]
WantedBy=default.target
