[Unit]
Description=Podman Exporter - Container Metrics
After=network-online.target

[Container]
ContainerName=podman-exporter
Image={{ logging_podman_exporter_image }}
Label={{ managed_label_name }}=true
Network=proxy-net
Environment=CONTAINER_HOST=unix:///run/user/{{ deploy_user_info.uid }}/podman/podman.sock
Volume=/run/user/{{ deploy_user_info.uid }}/podman/podman.sock:/run/user/{{ deploy_user_info.uid }}/podman/podman.sock:ro
UserNS=keep-id
SecurityLabelDisable=true
HealthCmd=wget -qO- http://localhost:9882/metrics > /dev/null 2>&1 || exit 1
HealthInterval=30s
NoNewPrivileges=true

[Service]
Restart=on-failure
TimeoutStartSec=300

[Install]
WantedBy=default.target
