[Unit]
Description=Prometheus
After=network-online.target

[Container]
Image=docker.io/prom/prometheus:{{ prometheus_version }}
ContainerName=prometheus
Network=proxy-net
Volume={{ monitoring_dir }}/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:z
Volume={{ monitoring_dir }}/prometheus/alert_rules.yml:/etc/prometheus/alert_rules.yml:z
Volume={{ monitoring_dir }}/prometheus/data:/prometheus:z,U
Label={{ managed_label_name }}=true
Label=traefik.enable=true
Label=traefik.http.routers.prometheus.rule=Host(`{{ prometheus_domain }}`)
Label=traefik.http.routers.prometheus.entrypoints=websecure
Label=traefik.http.routers.prometheus.tls.certresolver=letsencrypt
Label=traefik.http.routers.prometheus.middlewares=internal-auth@file
Label=traefik.http.services.prometheus.loadbalancer.server.port=9090

[Install]
WantedBy=default.target
