[Unit]
Description=Database App {{ item.name }}
After=network-online.target

[Container]
Image={{ item.image }}
ContainerName={{ item.name }}
Network=proxy-net
Label={{ managed_label_name }}=true
PublishPort=127.0.0.1:{{ item.host_port | default(3307) }}:{{ item.port }}
Volume={{ databases_dir }}/{{ item.name }}:/var/lib/mysql:z
{% for key, value in (item.env | default({})).items() %}
Environment={{ key }}={{ value }}
{% endfor %}

{% if item.external_access | default(false) %}
Label=traefik.enable=true
Label=traefik.tcp.routers.{{ item.name }}.entrypoints={{ item.type }}
Label=traefik.tcp.routers.{{ item.name }}.rule=HostSNI(`*`)
Label=traefik.tcp.services.{{ item.name }}.loadbalancer.server.port={{ item.port }}
{% endif %}

[Service]
Restart=always

[Install]
WantedBy=default.target
