[Unit]
Description=PaaS Deploy Controller
After=network-online.target

[Container]
Image=localhost/paas-controller:latest
ContainerName=paas-controller
Network=proxy-net

User=0

Volume=/run/user/{{ deploy_user_info.uid }}/podman/podman.sock:/run/user/{{ deploy_user_info.uid }}/podman/podman.sock:rw,z
Volume={{ controller_dir }}/builds:/app/builds:z
Volume={{ controller_dir }}/config:/app/config:z
Volume=/home/{{ deploy_user }}/.config/containers/systemd:/quadlets:z

Environment=PORT={{ controller_port }}
Environment=GITHUB_SECRET={{ controller_github_secret }}
Environment=CONFIG_PATH=/app/config/apps.json
Environment=DB_CONFIG_PATH=/app/config/databases.json
Environment=BUILDS_DIR=/app/builds
Environment=QUADLET_DIR=/quadlets
Environment=DATABASES_DIR=/home/{{ deploy_user }}/databases
Environment=CONTAINER_HOST=unix:///run/user/{{ deploy_user_info.uid }}/podman/podman.sock
Environment=SERVER_HOST={{ ansible_host }}

Label=traefik.enable=true
Label=traefik.http.routers.paas-controller.rule=Host(`{{ controller_domain }}`)
Label=traefik.http.routers.paas-controller.entrypoints=websecure
Label=traefik.http.routers.paas-controller.tls.certresolver=letsencrypt
Label=traefik.http.services.paas-controller.loadbalancer.server.port={{ controller_port }}
Label=traefik.http.services.paas-controller.loadbalancer.healthcheck.path=/health

[Service]
Restart=always
RestartSec=5s
WorkingDirectory=/home/{{ deploy_user }}

[Install]
WantedBy=default.target
